.customNavbarStyle{
    width: 25%;
    transition: all 1s ease-in-out ;
}

.mainPageSection{
    background-image: url("../assets/indir.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.customOpenNavbar{
    width: 100%;
    transition: all 1s ease-in-out ;
    
}
